<div><h1>{{pageTitle}}</h1>
    <!--<pm-products></pm-products>-->
    <br>
    <h1>kitchen</h1>
    <span *ngIf="loading">Loading...</span>
    <span *ngIf="cooking">Cooking...</span>
    <h1 *ngIf="inventory.length > 0">Inventory:</h1>
    <table class="table-condensed" *ngIf="inventory.length > 0">
        <tr>
            <th>Food Name</th>
            <th>Count</th>
        </tr>
        <tr class="inventory" *ngFor="let invent of inventory">
            <td>
                <span> {{invent.food.name}} </span>
            </td>
            <td>
                <span> {{invent.count}}</span>
            </td>
        </tr>
    </table>
    <h1 *ngIf="orders.length > 0">Orders</h1>
    <div class="order" *ngFor="let order of orders;let oindex = index">
        <h1>Order #{{order.id}}</h1>
        <table class="table">
            <tr>
                <th>Food Name</th>
                <th>Count</th>
                <th>Cooked</th>
                <th>Cook</th>
            </tr>
            <tr *ngFor="let orderPos of order.positions;let pindex = index">
                <th>{{orderPos.product.name}}</th>
                <th>{{orderPos.count}}</th>
                <th>{{orderPos.cooked}}</th>
                <th>
                    <button [disabled]="cooking" (click)="make(1, oindex, pindex )">make 1</button>
                    <button [disabled]="cooking" (click)="make(2, oindex, pindex )">make 2</button>
                    <button [disabled]="cooking" (click)="make(6, oindex, pindex )">make 6</button>
                </th>
            </tr>

        </table>
        <button *ngIf=isCompleted(oindex) (click)="fulfil(oindex)">
            Fulfil order
        </button>
    </div>
    <div class="log-history">
        <p>Log history: </p>
        <div *ngFor="let history of logHistory"><span>{{history}} </span><br></div>
    </div>
</div>